.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.2em;
    padding: 1px 10px;
    border-radius: 5px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
