{
    "test": ".*.(j|t)sx?$",
    "jsc": {
        "transform": {
            "react": {
                "runtime": "automatic"
            }
        },
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true,
            "dynamicImport": true
        }
    },
    "env": {
        "mode": "entry",
        "coreJs": 3
    }
}
