.mr {
    margin-right: 10px;
}

.author {
    display: flex;
    align-items: center;
    padding: 1px 10px;
}

.author-avator {
    width: 0.6em;
    height: 0.6em;
    border-radius: 0.3em;
}

.author-name {
    font-size: 0.6em;
    white-space: nowrap;
}

.donation {
    font-size: 0.6em;
}
