/* stylelint-disable declaration-no-important */
.tooltip {
    padding: 5px 9px !important;
    font-weight: 500 !important;
    font-size: 1.2em !important;
    line-height: 15px !important;
    background-color: rgb(28 28 28 / 90%) !important;
    border-radius: 2px !important;

    :global(.ytp-big-mode) & {
        font-size: 2em !important;
        line-height: 22px !important;
    }
}
