@import '../../../variable';

.container {
    display: inline-block;
    width: 52px;
    height: 100%;
    cursor: pointer;
    outline: 0;
    :global(.#{$youtube-big-mode-class}) & {
        width: 78px;
    }
}
