@import '../../../variable';

.slider {
    position: relative;
    height: 100%;
    min-height: 36px;
    overflow: hidden;

    :global(.#{$youtube-big-mode-class}) & {
        min-height: 54px;
    }
}

.handle {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    background: #fff;
    border-radius: 6px;

    :global(.#{$youtube-big-mode-class}) & {
        width: 18px;
        height: 18px;
        margin-top: -9px;
        border-radius: 9px;
    }

    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 64px;
        height: 3px;
        margin-top: -2px;
        content: '';

        :global(.#{$youtube-big-mode-class}) & {
            width: 96px;
            height: 4px;
            margin-top: -2px;
        }
    }

    &::before {
        left: -58px;
        background: #fff;

        :global(.#{$youtube-big-mode-class}) & {
            left: -87px;
        }
    }

    &::after {
        left: 6px;
        background: rgb(255 255 255 / 20%);

        :global(.#{$youtube-big-mode-class}) & {
            left: 9px;
            background: rgb(255 255 255 / 20%);
        }
    }
}
