.container {
    display: flex;
    margin-top: 0.2em;
    border-radius: 5px;
}

.message {
    display: flex;
    align-items: center;
    padding: 1px 10px;
    font-size: 0.8em;

    img {
        width: 1em;
        height: 1em;
    }
}
