.container {
    right: 12px;
    bottom: 49px;
    z-index: 71;
    width: 282px;
    height: 270px;

    :global(.ytp-big-mode) & {
        right: 24px;
        bottom: 70px;
    }
}

.nest-container {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    padding: 16px !important;
}

.container-hidden {
    display: none;
}
