.debug-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.debug-text {
    font-size: 20px;
    color: #ff0;
    white-space: nowrap;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 1px;
}

.metrics-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
}
