.form-label {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 8px;
    font-size: 14px;

    > div {
        margin-top: 4px;
    }
}

.trigger {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1;
    color: var(--yt-spec-text-primary);
    cursor: pointer;
    background-color: var(--yt-spec-raised-background);
    border: var(--yt-spec-raised-background);
    border-radius: 18px;
    outline: none;
    transition:
        border-color 250ms,
        color 250ms;

    &:hover {
        background-color: var(--yt-spec-menu-background);
        border-color: var(--yt-spec-menu-background);
    }
}

.value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes content-show {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes content-hide {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-8px);
    }
}

.content {
    background-color: var(--yt-spec-raised-background);
    border-radius: 18px;
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 10%),
        0 2px 4px -2px rgb(0 0 0 / 10%);
    transform-origin: var(--kb-select-content-transform-origin);
    animation: content-hide 250ms ease-in forwards;
}

.content[data-expanded] {
    animation: content-show 250ms ease-out;
}

.listbox {
    overflow-y: auto;
}

.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    font-size: 14px;
    line-height: 1;
    color: var(--yt-spec-text-primary);
    cursor: pointer;
    user-select: none;
    border-radius: 18px;
    outline: none;

    &:hover {
        background-color: var(--yt-spec-menu-background);
    }
}

.item[data-highlighted] {
    background-color: var(--yt-spec-menu-background);
    outline: none;
}
