.container {
    display: flex;
    align-items: center;
    margin-top: 0.2em;
    border-radius: 5px;
    cursor: pointer;
}

.icon {
    /* stylelint-disable-next-line declaration-no-important */
    width: 0.5em !important;
    height: 0.5em;
    padding-right: 10px;
    padding-left: 10px;
}

.close-icon {
    margin-left: auto;

    // Youtube disabled all svg pointer events
    /* stylelint-disable-next-line declaration-no-important */
    pointer-events: all !important;
}

.message {
    display: inline;
    padding: 1px 10px;
    font-size: 0.8em;

    img {
        width: 1em;
        height: 1em;
        vertical-align: middle;
    }

    &.truncate {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
