.container {
    height: 1em;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.message {
    display: flex;
    align-items: center;
    font-size: 0.8em;

    img {
        width: 0.8em;
        height: 0.8em;
    }
}
