.container {
    padding: 1px 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.2em;
}

.author {
    display: flex;
    align-items: center;
}

.authorAvator {
    width: 0.6em;
    height: 0.6em;
    margin-right: 10px;
}

.authorName {
    font-size: 0.6em;
    margin-right: 10px;
}

.donation {
    font-size: 0.6em;
}

.message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
