.container-form {
    width: 100%;
}

%row {
    display: flex;
    justify-content: space-between;
}

.row {
    @extend %row;
}

.btn-row {
    @extend %row;

    margin-top: 8px;
}

%btn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1;
    color: var(--yt-spec-text-primary);
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 18px;
    outline: none;

    &:hover {
        background-color: var(--yt-spec-menu-background);
    }
}

.btn {
    @extend %btn;
}

.btn-primary {
    @extend %btn;

    background-color: var(--yt-spec-call-to-action);

    &:hover {
        background-color: var(--yt-spec-call-to-action-inverse);
    }
}

.color-hint {
    padding-bottom: 4px;
}

%input {
    padding: 4px 8px;
    margin-top: 4px;
    font-size: 14px;
    color: var(--yt-spec-text-primary);
    background-color: var(--yt-spec-raised-background);
    border: none;
    border-bottom: solid 1px var(--yt-spec-text-primary);
    border-radius: 0;
    outline: none;

    &:focus {
        border-color: var(--yt-spec-themed-blue);
    }

    &:disabled {
        cursor: not-allowed;
        background-color: var(--yt-spec-menu-background);
    }
}

.form-label {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 8px;
    font-size: 14px;

    > input {
        @extend %input;
    }
}

.tab {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tab-list {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: solid 1px white;
}

.tab-indicator {
    position: absolute;
    bottom: -1px;
    height: 2px;
    background-color: var(--yt-spec-themed-blue);
    transition: all 250ms;
}

.tab-trigger {
    display: inline-block;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    outline: none;
}

.tab-content {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.switch {
    display: inline-flex;
    align-items: center;
}

.switch-control {
    display: inline-flex;
    align-items: center;
    width: 22px;
    height: 12px;
    margin-left: 4px;
    cursor: pointer;
    background-color: hsl(240deg 6% 90%);
    border: 1px solid hsl(240deg 5% 84%);
    border-radius: 6px;
    transition: 250ms background-color;
}

.switch-control[data-checked] {
    background-color: var(--yt-spec-themed-blue);
    border-color: var(--yt-spec-themed-blue);
}

.switch-thumb {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
    transition: 250ms transform;
}

.switch-thumb[data-checked] {
    transform: translateX(100%);
}

.font-size-input-row {
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-left: 8px;

    > input {
        @extend %input;

        width: 50px;
        margin-top: 0;
    }
}

.helper-text {
    margin: 8px 0;
}
