.container-form {
    width: 100%;
}

%row {
    display: flex;
    justify-content: space-between;
}

.row {
    @extend %row;
}

.btn-row {
    @extend %row;

    margin-top: 8px;
}

%btn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1;
    color: var(--yt-spec-text-primary);
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 18px;
    outline: none;

    &:hover {
        background-color: var(--yt-spec-menu-background);
    }
}

.btn {
    @extend %btn;
}

.btn-primary {
    @extend %btn;

    background-color: var(--yt-spec-call-to-action);

    &:hover {
        background-color: var(--yt-spec-call-to-action-inverse);
    }
}

.color-hint {
    padding-bottom: 4px;
}

.form-label {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 8px;
    font-size: 14px;

    > input {
        padding: 4px 8px;
        margin-top: 4px;
        font-size: 14px;
        color: var(--yt-spec-text-primary);
        background-color: var(--yt-spec-raised-background);
        border: none;
        border-bottom: solid 1px var(--yt-spec-text-primary);
        border-radius: 0;
        outline: none;

        &:focus {
            border-color: var(--yt-spec-themed-blue);
        }

        &:disabled {
            cursor: not-allowed;
            background-color: var(--yt-spec-menu-background);
        }
    }
}

.tab {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tab-list {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: solid 1px white;
}

.tab-indicator {
    position: absolute;
    bottom: -1px;
    height: 2px;
    background-color: var(--yt-spec-themed-blue);
    transition: all 250ms;
}

.tab-trigger {
    display: inline-block;
    padding: 8px 16px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0;
    outline: none;
}

.tab-content {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}
