.container {
    display: flex;
    align-items: center;
    margin-top: 0.2em;
    border-radius: 5px;
}

.author {
    display: flex;
    align-items: center;
    padding: 1px 10px;
}

.author-avator {
    width: 0.6em;
    height: 0.6em;
    margin-right: 10px;
    border-radius: 0.3em;
}

.author-name {
    margin-right: 10px;
    font-size: 0.6em;
}

.message {
    display: flex;
    align-items: center;
    padding: 1px 10px;
    font-size: 0.6em;

    img {
        width: 0.6em;
        height: 0.6em;
    }
}
