on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Test

jobs:
  test:
    name: Test
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Use Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.14.0'
      - name: Install Dependencies
        uses: bahmutov/npm-install@v1
      - name: Check Dependency Vulnerabilities
        run: |
          yarn audit
      - name: Lint & Test
        run: |
          yarn lint:test && yarn test:unit --ci
      - name: Build
        run: |
          yarn build:prod
  commitlint:
    name: Commit Lint
    runs-on: ubuntu-18.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Code with All Commits
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Run commitlint
        uses: wagoid/commitlint-github-action@v1
